obj/
bin/

# IDEs and Editors
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates

# Packages
/packages
/node_modules

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
publish/

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
